// $light-blue-color: #1BB6E9;
// $blue-color: #034DA9;
// $dark-blue: #0E3285;


$light-purple: #822281;
$purple: #6B2683;
$dark-blue: #1A3583;

$lighter-gray: #E6E6E6;
$light-gray: #E2E1D9;
$gray: #BDBDBF;
$black: #000004;
